<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .admin_button {
            height: 100px;
            width: 500px;
            font-size: 40px;
        }
    </style>
</head>
<body>
    <center>
        <div class="jumbotron">
            <div style="color: #4286f4">
                <h2>Welcome Admin!</h2>
            </div>
        </div>
        <br>
        <button type="button" class="btn btn-primary admin_button" onclick="document.location.href='/admin/inventory'">Inventory Control</button>
        <br>
        <br>
        <button type="button" class="btn btn-warning admin_button" onclick="document.location.href='/admin/members'">Members Status</button>
        <br>
        <br>
        <button type="button" class="btn btn-danger admin_button" onclick="document.location.href='/loan'">Inventory Overview</button>
        <br>
        <br>
        <a href="/logout">Logout</a>
    </center>
</body>
</html>