<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <center>
        <br>
        <br>
        <div class="container">
            <h1 style="color: #4286f4">Reset Your Password</h1>
        </div>
        <form method="POST">
          <div class="w-25 p-3 container" >
              <div class="row">
                  Student ID: <input type="text" class="form-control" id="student_id" name="student_id" placeholder="SUTD Student ID">
                  <small id="sutd" class="form-text text-muted">Input your SUTD Student ID here...</small>
              </div>
              <br>
              <div class="row">
                  New password: <input type="password" class="form-control" id="newpwd" name="newpwd" placeholder="new password">
                  <small id="smallpwd" class="form-text text-muted">Input your new password</small>
              </div>
              <br>
              <div class="row">
                   Confirm password: <input type="password" class="form-control" id="confirmpwd" name="confirmpwd" placeholder="confirm password">
              </div>
              <br>
              {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                  {% for message in messages %}
                    {% if message[0] == "warn" %}
                      <div class="w-40 p-3" style="color: #f44542">
                        {{message[1]}}
                      </div>
                    {% elif message[0] == "success" %}
                      <div class="w-40 p-3" style="color: green">
                        {{message[1]}}
                      </div>
                    {% else %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endwith %}
              <br>
              <button type="submit" class="btn btn-success" id="btnSubmit">Submit</button>
                <br>
                <br>
                <a href="/login">Back to login</a>
                <br>
            </div>
        </form>
    </center>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                var password = $("#newpwd").val();
                var confirmPassword = $("#confirmpwd").val();
                if (password != confirmPassword) {
                    alert("Passwords do not match.");
                    return false;
                }
                return true;
            });
        });
    </script>
</body>
</html>