<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<table>
    <tbody>
        <tr>
            <td>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#001">
                  View
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#002">
                  View
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#003">
                  View
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div class="modal fade" id="001" tabindex="-1" role="dialog" aria-labelledby="title1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title1">Loan Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <table class="table table-condensed" cellpadding="5">
              <thead>
                <tr class="header">
                  <th>LOANERS</th>
                  <th>QUANTITY</th>
                  <th>EXPIRY</th>
                </tr>
              </thead>
              <tbody class="table">
                <tr>
                    <td class="element">1</td>
                    <td class="element">2</td>
                    <td class="element">3</td>
                </tr>
              </tbody>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="002" tabindex="-1" role="dialog" aria-labelledby="title2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title2">Loan Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <table class="table table-condensed" cellpadding="5">
              <thead>
                <tr class="header">
                  <th>LOANERS</th>
                  <th>QUANTITY</th>
                  <th>EXPIRY</th>
                </tr>
              </thead>
              <tbody class="table">
                <tr>
                    <td class="element">1</td>
                    <td class="element">2</td>
                    <td class="element">3</td>
                </tr>
              </tbody>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="003" tabindex="-1" role="dialog" aria-labelledby="title3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title3">Loan Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <table class="table table-condensed" cellpadding="5">
              <thead>
                <tr class="header">
                  <th>LOANERS</th>
                  <th>QUANTITY</th>
                  <th>EXPIRY</th>
                </tr>
              </thead>
              <tbody class="table">
                <tr>
                    <td class="element">1</td>
                    <td class="element">2</td>
                    <td class="element">3</td>
                </tr>
              </tbody>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>